.homeContainer {
  background-image: linear-gradient(
      to top,
      rgba(2, 0, 0, 0.842) 60%,
      rgba(62, 62, 63, 0.856)
    ),
    url(./images/jason-leung-unsplash.jpg);
  width: 100vw;
  height: 90vh;
  background-size: cover;
  padding-top: 5rem;
}
.homeGreets {
  width: 45%;
  height: 70%;
  margin: 0 35%;
  background-image: url(./images/priscilla-du-preez-unsplash.jpg);
  background-size: cover;
  padding-top: 3rem;
  filter: opacity(0.7);
  border: 1px solid rgb(231, 231, 231);
}

.homeTitle {
  background-color: black;
  color: rgb(211, 154, 50);
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 3px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.homeTitleLine {
  display: block;
  margin: 0 auto;

  width: 200px;
  height: 1px;
  background-color: rgba(252, 252, 249, 0.74);
}
form {
  margin-top: 2rem;
}
.homeBooking {
  width: 350px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.616);
  position: absolute;
  bottom: 0;
  left: 50px;

  outline-offset: 10px;
  border-left: 1px solid rgba(223, 215, 211, 0.507);
  border-right: 1px solid rgba(223, 215, 211, 0.507);
}
.bookName {
  width: 85%;
  height: 35px;
}
.bookEmail {
  width: 85%;
  height: 35px;
}
.bookPhone {
  width: 85%;
  height: 35px;
}

.bookbtn {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 2rem;

  border-radius: 5px;
  color: white;
  background-color: rgb(211, 154, 50);
}
input {
  border-bottom: 3px transparent;
  text-align: center;
  min-height: 35px;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
}
input:focus {
  outline: none;
  border-bottom: 3px solid brown;
  box-shadow: 0 1rem 2rem rgba(248, 233, 233, 0.233);
}
input:focus:invalid {
  border-bottom: 3px solid burlywood;
}
input::-webkit-input-placeholder {
  color: grey;
}
label {
  font-size: 1.2rem;
  color: rgb(217, 225, 233);

  font-weight: 500;
  margin-left: 2rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  display: block;
}
input:placeholder-shown + label {
  opacity: 0;
}
.bookDate {
  border-bottom: 3px transparent;
  float: left;
  color: rgb(58, 58, 58);
  padding: 0;
}
.bookTime {
  border-bottom: 3px transparent;
  border-radius: 6px;
  float: right;

  color: rgb(26, 24, 24);
  padding: 0;
}
.bookBottom {
  max-width: 300px;
  height: 70px;
  margin: 0 auto;
}
